.offers .products-sliderr  .box{
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
    overflow: hidden;
    user-select: none;
 }
 .offers .products-sliderr  .box img {
    height: 30rem;
    width: 100%;
    object-fit: contain;
    transition: .2s linear;
    margin-bottom: 1rem;
 }
 .offers .products-sliderr  .box:hover img {
  transform: scale(1.1);
 }
 .offers .products-sliderr  .box h3{
font-size: 2rem;
color: black;
margin: 1rem 0;
}
.offers .products-sliderr  .box p{
   transform: scale(1.1);
  }