:root{
   --main-color:#2980b9;
   --orange:#f39c12;
   --red:#e74c3c;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.home-bg{
    background:url(./images/home-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .home-bg .home .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
    user-select: none;
 }
 
 .home-bg .home .slide .image{
    flex:1 1 40rem;
 }
 
 .home-bg .home .slide .image img{
    height: 40rem;
    width: 100%;
    object-fit: contain;
 }
 
 .home-bg .home .slide .content{
    flex:1 1 40rem;
 }
 
 .home-bg .home .slide .content span{
    font-size: 2rem;
    color:white;
 }
 
 .home-bg .home .slide .content h3{
    margin-top: 1rem;
    font-size: 4rem;
    color:black;
    text-transform: uppercase;
 }
 
 .home-bg .home .slide .content .btn{
    display: inline-block;
    width: auto;
 }
 
 .swiper-pagination-bullet-active{
    background-color: var(--main-color);
 }
 
 .btn,
 .delete-btn,
 .option-btn{
   text-decoration: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding:1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color:var(--white);
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover{
    background-color: var(--black);
 }
 
 .btn{
    background-color: var(--main-color);
 }
 