.home-bg{
    background:url(img/section.jpg) no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .home-bg .home .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
    user-select: none;
 }
 
 .home-bg .home .slide .image{
    flex:1 1 40rem;
 }
 
 .home-bg .home .slide .image img{
    height: 40rem;
    width: 100%;
    object-fit: contain;
 }
 
 .home-bg .home .slide .content{
    flex:1 1 40rem;
 }
 
 .home-bg .home .slide .content span{
    font-size: 2rem;
    color:var(--white);
 }
 
 .home-bg .home .slide .content h3{
    margin-top: 1rem;
    font-size: 4rem;
    color:var(--white);
    text-transform: uppercase;
 }
 
 .home-bg .home .slide .content .btn{
    display: inline-block;
    width: auto;
 }