
:root{
    --primary-color: #334add;
    --main-color:#2980b9;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  }
body{
    background-color: #B3B3B3;
}
.title{
    /* margin: 0 auto 80px; */
    position: relative;
    line-height: 60px;
    color:var(--black);
    margin-left: 90px;

}
.title::after{
    content: '';
    background: #ff523b;
    width: 160px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    margin-left: -105px;
    bottom:0;
    transform: translateX(-50%);
}


.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 1080px;
     margin: auto; 
     padding-left: 25px;
    padding-right: 25px; 
}
.col-4{
    height:340px;
        flex-basis: 19%;
        background-color: var(--light-bg);
        border-radius: 10px;
        min-width: 200px;
        margin-bottom:50px;
        margin-left: 10px;
        transition:transform 0.5s;
    }
    .col-4 img{
        width: 50%;
        display: flex;
        margin: 0 auto;
    }
    .col-4 h4{
        color: var(--black);
        margin-left: 10px;
    }
    .col-4 h3{
        color: #555;
        font-weight: normal;
        margin-left: 10px;
    }
    .col-4 p{
        font-size: 22px;
        margin-left: 10px;


    }
    .col-4 span {
        font-size: 20px;
        color:#02FB0C;
        margin-left: 10px;

    }
    .ratings{
        margin-left: 10px;
        margin-top: 10px;

    }
    .ratings .fa{
        color: #ff523b;

    }
    .col-4:hover{
        transform: translateY(-5px);
    }

    .col-4 .btn_row{
        display: block;
        background-color: var(--primary-color);
        text-decoration: none;
        width: 100px;
        height:10px;
        margin-top: -10px;
        margin-left: 5px;
        border-radius: .5rem;
        padding:1rem 3rem;
        font-size: 1.0rem;
        text-transform: capitalize;
        color:var(--white);
        cursor: pointer;
        text-align: center;
     }
     
     .btn_row:hover{
        background-color: var(--main-color);
     }
     
  