.box-container{
    margin-top:10px;
}
.title_box{
    width:80%;
    height:150px;
    margin: 0 auto;
    text-align: center;
    background-color: #334add;
    border-radius: 5px;
}
.title_box span{
    padding: 40px;
}
.title_box h6 a{
    text-decoration: none;
    color: white;
}
#boxtittle{
    color:white;
}
.empty{
    margin-left: 100px;
    margin-top:20px;
    color:red;
    font-size: 30px;
}
.box_products{
    margin-top: 40px;
    margin-left: 10px;
}
.row_prod{
    display: flex;
    flex-direction: row;
}
.card_box{
    width: 250px;
    border-radius: 10px;
    height: 340px;
    background-color: white;
}
.card_box:hover{
    transform: translateY(-5px);
}
.card_box .box-head img {
    width: 130px;
    padding: 10px;
    margin-left: 50px;
}
.card_box .box-body #nom{
    font-size: 20px;
    margin-left: 20px;
    color: #000000;
}
.card_box .box-body #type{
    margin-left: 20xp;
    color: #000000;
    opacity: 0.7;
    margin-left: 20px;
}
.box-body p{
    color: green;
    margin-left: 20px;
    font-size: 19px;

}
#box_prix{
    font-size:20px;
    margin-left: 28px;


}
